@page
@model GestionVoitureFrontOffice.Pages.AdminClient.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Liste des Demandes d'Offres</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Depart</th>
                                <th scope="col">Arriver</th>
                                <th scope="col">Model voiture</th>
                                <th scope="col">Capacite</th>
                                <th scope="col">Montant du facture</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var offer in Model.listeOffre)
                                {
                                <tr class="table-@(
                                offer.status == 0 ? "danger" :
                                offer.status == 1 ? "primary" :
                                offer.status == 2 ? "warning" :
                                offer.status == 3 ? "success" :
                                "secondary")">
                                    <td>@offer.TragerDeparture?.Destination</td>
                                    <td>@offer.TragerArriving?.Destination</td>
                                    <td>@offer.Vehicle?.Model</td>
                                    <td>@offer.Capacity</td>
                                    <td>@offer.TotalAmount</td>
                                    <td>@offer.DateMission.ToString("dd/MM/yyyy")</td>
                                    <td>@offer.statusName</td>
                                </tr>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>