@using GestionVoitureFrontOffice.Models
@model Vehicle

@{
    ViewData["Title"] = "Détails du Véhicule";
}

<div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/page-title-bg.jpg);">
    <div class="container position-relative">
        <h1>Détails du Véhicule</h1>
        <p>Explorez les caractéristiques et spécifications détaillées de nos véhicules pour choisir celui qui correspond le mieux à vos besoins.</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="catalogue.html">Catalogue</a></li>
                <li class="current">Détails du Véhicule</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<section id="truck-details" class="about section">

    <div class="container">

        <div class="row gy-4">

            <!-- Image et Vidéo -->
            <div class="col-lg-6 position-relative align-self-start order-lg-last order-first" data-aos="fade-up"
                 data-aos-delay="200">
                <img src="@Url.Content("~/assets/img/vehicle/" + Model.PhotoUrl)"
                     alt="@Model.Model" alt="Voiture 1" class="img-fluid">
            </div>

            <!-- Contenu texte -->
            <div class="col-lg-6 content order-last order-lg-first" data-aos="fade-up" data-aos-delay="100">
                <h3>Caractéristiques de @Model.Number</h3>
                <p>
                    @Model.Descriptions
                </p>
                <ul>
                    <li>
                        <i class="bi bi-truck"></i>
                        <div>
                            <h5>Capacité de Charge</h5>
                            <p>
                                Jusqu'à @Model.Capacity tonnes pour transporter une large gamme de marchandises en toute sécurité.
                            </p>
                        </div>
                    </li>
                    <li>
                        <i class="bi bi-gear-wide"></i>
                        <div>
                            <h5>Performances Optimales</h5>
                            <p>
                                Moteurs puissants pour affronter les routes les plus difficiles, même en conditions extrêmes.
                            </p>
                        </div>
                    </li>
                    <li>
                        <i class="bi bi-shield-check"></i>
                        <div>
                            <h5>Sécurité Avancée</h5>
                            <p>
                                Systèmes de freinage ABS, airbags et équipements modernes pour garantir la sécurité de vos
                                cargaisons.
                            </p>
                        </div>
                    </li>
                    <li>
                        <i class="bi bi-people"></i>
                        <div>
                            <h5>Confort des Conducteurs</h5>
                            <p>
                                Cabines spacieuses et ergonomiques pour un confort optimal lors des longs trajets.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row gy-4">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-primary" type="button" asp-controller="Offre" asp-action="Index" asp-route-IdVehicle="@Model.Id" meth>Demander un devis</a>
            </div>
        </div>

    </div>
</section>