@using GestionVoitureFrontOffice.Models
@model Offer;

@{
    ViewData["Title"] = "Demande d'offre";
    var nostragerDepart = ViewData["nostragerDepart"] as IEnumerable<NosTrager>;
    var nostragerArriver = ViewData["nostragerArriver"] as IEnumerable<NosTrager>;
}

<div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/page-title-bg.jpg);">
    <div class="container position-relative">
        <h1>Nous contacter</h1>
        <p>Pour toute question ou demande spécifique, n'hésitez pas à nous contacter. Nous serons heureux de vous aider.</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Accueil</a></li>
                <li class="current">Contact</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->


<section id="demande-offre" class="contact section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-4">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h3>Adresse</h3>
                        <p>123 Rue de l'Innovation, Antananarivo, Madagascar</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Appelez-nous</h3>
                        <p>+123 456 7890</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h3>Email</h3>
                        <p>contact@hayramatechnology.com</p>
                    </div>
                </div><!-- End Info Item -->

            </div>

            <div class="col-lg-8">
                <form asp-controller="Offre" asp-action="DemandeOffre" method="POST" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">
                        @if ((int)ViewData["IdVehicle"] != 0)
                        {
                            <input type="hidden" name="IdVehicle" value="@ViewData["IdVehicle"]">
                        }
                        else
                        {
                            <input type="hidden" name="IdVehicle" value="">
                        }

                        <div class="col-md-6">
                            <input type="text" asp-for="NameSociete" class="form-control" placeholder="Votre Nom ou nom de la société*" required="">
                            <span asp-validation-for="NameSociete" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <input type="email" class="form-control" name="Email" placeholder="Votre Email*" required="">
                        </div>

                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="IdTragerDeparture">Lieu de départ*</label>
                                <select class="form-select" id="IdTragerArriving" asp-for="IdTragerDeparture">
                                    <option selected value="null">Choose...</option>
                                    @if (nostragerDepart != null)
                                    {
                                        foreach (var nostrager in nostragerDepart)
                                        {
                                            <option value="@nostrager.Id">@nostrager.Destination</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="IdTragerDeparture" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="IdTragerArriving">Lieu de destination*</label>
                                <select class="form-select" id="IdTragerArriving" asp-for="IdTragerArriving">
                                    <option selected value="null">Choose...</option>
                                    @if (nostragerArriver != null)
                                    {
                                        foreach (var nostrager in nostragerArriver)
                                        {
                                            <option value="@nostrager.Id">@nostrager.Destination</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="IdTragerArriving" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Date du trajet*</span>
                                <input type="date" class="form-control" asp-for="DateMission">
                            </div>
                            <span asp-validation-for="DateMission" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Quantité de marchandise</span>
                                <input type="number" class="form-control" placeholder="en tonne" asp-for="Capacity">
                            </div>
                            <span asp-validation-for="Capacity" class="text-danger"></span>
                        </div>

                        @* <div class="col-md-6"> *@
                        @*     <div class="input-group mb-3"> *@
                        @*         <span class="input-group-text" id="basic-addon1">Montant de location</span> *@
                        @*         <input type="number" class="form-control" placeholder="en Ar" asp-for="TotalAmount" disabled> *@
                        @*     </div> *@
                        @*     <span asp-validation-for="TotalAmount" class="text-danger"></span> *@
                        @* </div> *@

                        <div class="col-md-12">
                            <textarea class="form-control" asp-for="Description" rows="6" placeholder="Détails supplémentaires (ex. type de véhicule, besoins spécifiques)" required=""></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Chargement</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Votre demande d'offre a été envoyée. Merci !</div>

                            <button type="submit">Demander un devis</button>
                        </div>

                    </div>
                </form>
                @section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
                }

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div asp-validation-summary="All" class="text-danger"></div>

            </div><!-- End Formulaire Demande Offre -->

        </div>

    </div>

</section><!-- /Demande Offre Section -->
